.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(221, 173, 173, 0.95);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 800;
  display: none;
}

.loading .center {
  position: relative;
  width: 12rem;
  height: 12rem;
}

.loading .center span {
  position: absolute;
  width: 5rem;
  height: 5rem;
  background: #095f3f;
  top: 0%;
  left: 0%;
  animation: loading 2s linear infinite;
  transition: all 0.3s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.loading .center span:first-child {
  animation-delay: 0.67s;
}

.loading .center span:last-child {
  animation-delay: 1.32s;
}

@keyframes loading {
  0% {
    top: 0;
    left: 0;
  }
  12.5% {
    top: 0;
    left: 70%;
  }
  25% {
    top: 0;
    left: 70%;
  }
  37.5% {
    top: 70%;
    left: 70%;
  }
  50% {
    top: 70%;
    left: 70%;
  }
  62.5% {
    top: 70%;
    left: 0%;
  }
  75% {
    top: 70%;
    left: 0%;
  }
  87.5% {
    top: 0%;
    left: 0%;
  }
  100% {
    top: 0;
    left: 0;
  }
}

/* page1 */

#page1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding:2rem;
  width: 100%;
  height: 90vh;
  background: linear-gradient(
      to right bottom,
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.5)
    ),
    url("../assets/imgs/home-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5) inset;
}

#page1 .left {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
  position: relative;
  width: 75%;
}

#page1 .left h1 {
  font-size: 4.5rem;
  margin-bottom: 3rem;
  color: var(--tcc);
}

#page1 .left p {
  font-size: 2rem;
  line-height: 1.5;
}
#page1 .right {
  display: flex;
  align-self: flex-end;
  justify-content: flex-end;
  padding-left: 2rem;
  width: 30%;
}
#page1 .right .image {
  width: 80%;
}

#page1 .right .image img {
  width: 100%;
  object-fit: cover;
}

/* page2 */

#page2 {
  padding: 3rem;
  background: var(--light-bg);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
}

#page2 h1,
#page3 h1 {
  text-align: center;
  font-size: 4rem;
  text-underline-offset: 2;
  font-weight: 400;
  margin: 3rem 0;
  border-bottom: 8px dashed green;
}

#page2 .rw1 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  transform: rotateY(15deg);
}

#page2 .rw1 .desc {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin-top: 3rem;
      z-index: 5;

}
#page2 .rw1 .desc h2 {
  font-size: 3.5rem;
  color: var(--tcc);
}

#page2 .rw1 .desc p {
  margin-top: 1.5rem;
  font-size: 2.2rem;
  text-align: left;
  line-height: 1.2;
}

#page2 .rw1 .desc p span {
  color: greenyellow;
  font-size: 5rem;
  transform: translateY(10%);
  display: inline-block;
  margin: 0.5rem 0.3rem;
}

#page2 .rw1 img {
  width: 35%;
  clip-path: polygon(13% 0, 100% 0%, 84% 100%, 0% 100%);

  object-fit: cover;
}

/* page3 */
#page3 {
  padding: 5rem;
  background: rgba(0,0,0);
}
#page3 h2 {
  font-size: 3.4rem;
  text-align: center;
  color: var(--tcc);
}

#page3 p {
  font-size: 1.4rem;
  text-align: center;
  letter-spacing: 3px;
}

#page3 .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  gap: 2rem;
  margin: 8rem auto;
  padding: 1rem;
}

#page3 .container .service-card {
  width: 40rem;
  height: 300px;
  background: rgb(48, 100, 48);
  cursor: pointer;
}

#page3 .container .service-card i {
  font-size: 5rem;
  margin: 2rem;
  background: green;
  display: inline-flex; 
  padding: 20px;
  border-radius: 8px;
}

#page3 .container .service-card h4 {
  font-size: 3rem;
}

#page3 .container .service-card:hover i {
  transform: rotateY(360deg) scale(1.2);
  display: block;
}

#page3 .container .service-card:hover h4 {
  transform: scale(1.1);
  color: var(--tcc);
}

@media screen and (max-width: 780px) {
  
  #page1 {
    width: 100vw;
    min-height: 60vh;
    align-items: center;
    justify-content: start;
    padding: 30px .5rem;
  }

  #page1 .left h1 {
    text-align: center;
    font-size: 2.9rem;
  }
  #page1 .left p {
    font-size: 1.8rem;
    text-align: center;
  }

  #page1 .right {
  display: flex;
  align-self:baseline;
  justify-content: center;
  padding-left: 0;
  width: 100%;
}
#page1 .right .image {
  width: 90%;
}


  #page2 h1,
  #page3 h1 {
    font-size: 4rem;
  }

  #page2 .rw1 {
    flex: 1;
    flex-direction: column;
  }

  #page2 .rw1 .desc p {
    font-size: 16px;
    line-height:1.8;
    width: 100%;

  }
  #page2 .rw1 img {
    width: 70%;
    margin: 1rem auto;
    z-index: 0;
  }

    #page3 {
      padding: 1rem;
    }

  #page3 .container .service-card {
    width: 100%;
    height: auto;
    font-size: 2.5rem;
    border-radius: 5px;
    padding: 3px;
  }

  #page3 .container .service-card i {
    font-size: 4rem;
  }

  #page3 .container .service-card h4 {
    font-size: 2.8rem;
  }
}
